@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg {
  background: hsla(298, 68%, 90%, 1);

  background: linear-gradient(
    90deg,
    hsla(298, 68%, 90%, 1) 0%,
    hsla(30, 82%, 91%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(298, 68%, 90%, 1) 0%,
    hsla(30, 82%, 91%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(298, 68%, 90%, 1) 0%,
    hsla(30, 82%, 91%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F6D5F7", endColorstr="#FBE9D7", GradientType=1 );
}

.login-div {
  background: hsla(211, 66%, 87%, 1);

  background: linear-gradient(
    90deg,
    hsla(211, 66%, 87%, 1) 0%,
    hsla(348, 67%, 88%, 1) 50%,
    hsla(272, 26%, 72%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(211, 66%, 87%, 1) 0%,
    hsla(348, 67%, 88%, 1) 50%,
    hsla(272, 26%, 72%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(211, 66%, 87%, 1) 0%,
    hsla(348, 67%, 88%, 1) 50%,
    hsla(272, 26%, 72%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C9DEF4", endColorstr="#F5CCD4", GradientType=1 );
}
